body {
    background: url("/images/Coloradoprofile.jpg");
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 10px;
  
  }
  
  
  header {
    position: relative;
    top: 0;
    width: 100%;
    font-family: 'Syncopate';
  }

  
  /* Hamburger Menu

  .container {
    margin-left: 20px;
    margin-top: 5px;
    top: 8px;
    display: inline-block;
    cursor: pointer;
    position: fixed;
    overflow: scroll;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  /* .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  } */
  
  /* Fade out the second bar */
  /* .change .bar2 {
    opacity: 0;
  } */
  
  /* Rotate last bar */
  /* .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  } */ 

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}







  /* Header Styling */
  ul {
    list-style-type: none;
    margin: 0;
    top: 0;
    left: 50px;
    padding: 5px;
    width: 95%;
    height: 55px; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: scroll; /* Enable scrolling if the sidenav has too much content */
  }

  li {
    float: left;
    margin: 0;
   
  }

  .right {
    float: right;
   
  
  }

  .youtube 
  {
    padding-right: 15px;

  }

  
  li a {
    margin: 0;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;

  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
   

  }

  .fa {
    padding: 13px;
    font-size: 0px;
    width: 15px;
    text-align: center;
    text-decoration: none;
    margin: 10px 9px;
    border-radius: 100%;
    
  }
    
  
  .fa-facebook {
    background: #3B5998;
    color: white;

  }

  .fa-instagram {
    background: #d6327e;
    color: white;
  }

  .fa-youtube-play {
    color: red;
    background: white;
  }

  .fa-linkedin-square
  {
    color: blue;
    background: white
  }

  .fa-github-square
  {
    color: gray;
    background: black;
  }
  
  
  .material-icons {
     padding: 11px 20px;
    border-radius: 80%;
  }


  .fa:hover {
    opacity: 0.7;
  }


   
  .li right {
    margin: 18px;
    float: right;
    font-size: 25px;
    margin-right: 40px;
    
  }
  
  
  .tooltip {
    margin-left: 90px;
    margin-top: 10px;
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-bottom: 50px;
    opacity: 0;
    transition: opacity 0.9s;
    font-size: 25px;
  }


  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .blur {
    -webkit-filter: blur(4px);
}


  p.fontsize {
    font-size: 75px;
    padding-bottom: 0px;
    margin-left: 150px;
    margin-bottom: 0px;
    margin-top: 200px;
    font-family: 'Syncopate';
  }

  p.twofontsize {
    font-size: 75px;
    margin-top: 0px;
    margin-left: 180px;
    margin-bottom: 0px;
    font-family: 'Syncopate';
  }

  p.threefontsize {
    font-size: 75px;
    margin-top: 0px;
    margin-left: 230px;
    margin-bottom: 250px;
    font-family: 'Syncopate';
  }

.bio{
  font-size: 23px;
  margin-left: 3em;
  margin-bottom: 200px;   
}